<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="com.logic.test.bean.UserDao"></bean>

    <bean id="userService" class="com.logic.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.logic.test.common.MyBeanPostProcessor"/>
    <bean class="com.logic.test.common.MyBeanFactoryPostProcessor"/>
</beans>